

  $p-color: #2F6562;
  $s-color:#368C86;

.comman-title.text-center {
    margin-bottom: 35px;
}
.title{ font-weight: 600; font-size: 34px; color: var(--Primary-text-color)}
.subtitle{ font-weight: 400; font-size: 20px; color: #777777;     margin-top: 13px;}

// .owl-theme{ position: relative;}
// .owl-prev, .owl-next{ position: absolute; top: 34%;   
// }
// .owl-prev{ left: -50px; 
//     width: 40px;
//     background: aliceblue !important;
//     height: 40px;
//     border-radius: 50% !important;
//     line-height: 40px !important}
// .owl-next{ right: -50px;     width: 40px;
//     height: 40px;
//     border-radius: 50% !important;
//     background: aliceblue !important;
//     line-height: 40px !important}