@import url(bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(../css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --green-teal: #3EB5AE;
  --background: #FBFBFB;
  --grey-icon-color:#3B4249;
  --green-teal-dark: #368C86;
  --green-teal-darker: #2F6562;
  --Primary-text-color: #212121;
  --Text-secondary: #4F5962;
  --grey-icon-color: #3B4249;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, table, th, td, tr, tbody, thead, thead, tfoot, dl, dt, dd, div, em, strong, b, i, sub, sup, ul, ol, li, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, blockquote, a, abbr, acronym, address, big, small, cite, code, del, dfn, font, ins, kbd, q, s, samp, strike, fieldset, form, label, legend, caption, main, section, header, footer, aside, hgroup {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

.cls {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: var(--background, #FBFBFB);
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

ul, ol, li {
  list-style: none;
}

a:focus,
input:focus,
select:focus {
  outline: 0 !important;
}

textarea {
  resize: none;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

#page-warpper {
  width: auto;
}

section {
  padding: 50px 0px;
}

.comman-title.text-center {
  margin-bottom: 35px;
}

.title {
  font-weight: 600;
  font-size: 34px;
  color: var(--Primary-text-color);
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #777777;
  margin-top: 13px;
}

header {
  background: #fff;
  padding: 10px 0px;
}
header li.nav-item {
  padding: 4px 10px;
}
header a.nav-link {
  color: #2F6562 !important;
  font-weight: 600;
}
header li.nav-item.login {
  padding-right: 0px;
}
header li.nav-item.login a.nav-link {
  background-color: var(--green-teal-darker);
  color: #fff !important;
  border-radius: 6px;
}
header .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
header li.nav-item.dropdown.afterlogin {
  padding: 3px 11px !important;
  border: 1px solid #D8DCE1;
  border-radius: 27px;
}
header li.nav-item.dropdown.afterlogin .fa {
  font-size: 23px;
  padding: 8px 0px;
}
header li.nav-item.dropdown.afterlogin a {
  padding: 0px;
  display: flex;
  -moz-column-gap: 11px;
       column-gap: 11px;
}
header span.username {
  width: 40px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background: antiquewhite;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background: var(--green-teal-darker, #2F6562);
  color: #fff;
}
header .dropdown-toggle::after {
  display: none !important;
}

section.heroslider {
  background-image: url(../images/slider-bg.png);
  background-repeat: no-repeat;
  text-align: center;
}
section.heroslider .slidercaption {
  color: #fff;
  padding: 150px 0px;
}
section.heroslider .slidercaption h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
}
section.heroslider .slidercaption p {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  margin-bottom: 19px;
  margin-top: 24px;
}
section.heroslider .slidercaption .input-fild {
  position: relative;
  height: 37px;
}
section.heroslider .slidercaption .input-fild input {
  border-radius: 3px;
  padding: 10px 29px;
  font-size: 15px;
}
section.heroslider .slidercaption .input-fild .preicon {
  position: absolute;
  background: #fff;
  width: 24px;
  top: 4px;
  height: 37px;
  line-height: 37px;
  color: rgba(50, 83, 81, 0.5411764706);
  left: 3px;
}
section.heroslider .slidercaption button.btn.btn-cu {
  background: #2f6562;
  color: #fff;
  border-radius: 3px;
  padding: 9px 15px;
}

section.featured-accommodations #featured {
  position: relative;
}
section.featured-accommodations #featured .owl-prev {
  position: absolute;
  border: 1px solid #ccc;
  padding: 5px 8px !important;
  top: -36px;
  font-size: 12px;
  font-weight: 700;
  right: 3px;
}
section.featured-accommodations #featured .owl-next {
  position: absolute;
  top: -36px;
  border: 1px solid #ccc;
  padding: 5px 8px !important;
  font-size: 12px;
  font-weight: 700;
  right: 60px;
}
section.featured-accommodations .featuredbox {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 6px, rgba(0, 0, 0, 0) 0px 3px 6px;
  margin: 20px 9px;
}
section.featured-accommodations .featboximg {
  overflow: hidden;
  height: 230px;
}
section.featured-accommodations .featboximg img {
  height: 100%;
}
section.featured-accommodations .featuredtag {
  position: absolute;
  top: 11px;
  font-size: 10px;
  font-weight: 700;
  background: var(--green-teal);
  color: #fff;
  padding: 3px 11px;
  border-radius: 2px;
  left: 12px;
  text-transform: uppercase;
}
section.featured-accommodations .priceinfobox {
  padding: 0px 23px;
  position: relative;
  top: -64px;
}
section.featured-accommodations .priceinfobox img {
  border: 2px solid #fff;
  border-radius: 50%;
}
section.featured-accommodations .priceinfobox p {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
}
section.featured-accommodations .priceinfobox p sup, section.featured-accommodations .priceinfobox p sub {
  font-size: 14px;
  font-weight: 500;
}
section.featured-accommodations .featuredinfo {
  background: #fff;
  padding: 25px 25px;
}
section.featured-accommodations .featuredinfo h4 {
  font-size: 16px;
  font-weight: 600;
  color: #3B4249;
}
section.featured-accommodations .featuredinfo p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #949CA5;
}
section.featured-accommodations .featuredinfo ul.ponit-room {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
}
section.featured-accommodations .featuredinfo ul.ponit-room li {
  display: flex;
  font-size: 14px;
  align-items: center;
  font-weight: 400;
  padding-right: 16px;
  padding-bottom: 5px;
}
section.featured-accommodations .featuredinfo ul.ponit-room li img {
  margin-right: 2px;
}
section.featured-accommodations .featuredinfo .feturboxview .viewcount {
  font-size: 13px;
}
section.featured-accommodations .featuredbox img {
  width: auto;
}

section.bookwithtoday {
  background: #F5F5F5;
}
section.bookwithtoday p.subtitle {
  color: var(--green-teal, #3EB5AE);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}
section.bookwithtoday ul.bookpointbox {
  display: flex;
  gap: 23px;
}
section.bookwithtoday ul.bookpointbox li {
  border-radius: 10px;
  background: var(--green-teal-dark);
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.bookwithtoday ul.bookpointbox li h4 {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}
section.bookwithtoday ul.bookpointbox li p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
section.bookwithtoday .title {
  color: var(--grey-icon-color, #3B4249);
  font-size: 38px;
  margin: 20px 0px;
}

section.find-the-perfect ul.find-the-point {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
section.find-the-perfect ul.find-the-point li {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.0588235294);
  align-items: center;
  width: 31.33%;
  border-radius: 5px;
  cursor: pointer;
}
section.find-the-perfect ul.find-the-point li:hover .boxfindimg img {
  transform: scale(1.1);
  transition: 1s;
}
section.find-the-perfect ul.find-the-point li .boxfindimg {
  overflow: hidden;
  border-radius: 3px;
}
section.find-the-perfect ul.find-the-point li .box {
  padding-left: 25px;
}
section.find-the-perfect ul.find-the-point li p {
  font-weight: 600;
  font-size: 18px;
}
section.find-the-perfect ul.find-the-point li small {
  font-size: 15px;
  font-weight: 400;
  color: #4F5962;
}

section.subscribe .container {
  border-radius: 12px;
  background: var(--green-teal-dark, #368C86);
  padding: 45px 54px;
}
section.subscribe .container .subscribr-input {
  display: flex;
  align-items: center;
}
section.subscribe .container .subscribr-input input.form-control {
  border-radius: 3px;
  padding: 12px 12px;
}
section.subscribe .container .subscribr-input button.cubtn {
  /* display: inline-flex; */
  /* padding: 10px 24px; */
  /* align-items: center; */
  /* gap: 10px; */
  border-radius: 4px;
  background: var(--green-teal-darker, #2F6562);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 165px;
  border: 0px;
  margin-left: 14px;
  padding: 12px 12px;
}
section.subscribe .container .subscribr-input :-moz-placeholder-shown {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
section.subscribe .container .subscribr-input :placeholder-shown {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
section.subscribe .container .subscribecaption p {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}
section.subscribe .container .subscribecaption small {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

section.testimonials .clintbox {
  position: relative;
}
section.testimonials .clintbox .owl-prev {
  position: absolute;
  border: 1px solid #ccc;
  padding: 5px 8px !important;
  top: -36px;
  font-size: 12px;
  font-weight: 700;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
section.testimonials .clintbox .owl-next {
  position: absolute;
  top: -36px;
  border: 1px solid #ccc;
  padding: 5px 8px !important;
  font-size: 12px;
  font-weight: 700;
  right: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
section.testimonials .clintsaybox {
  position: relative;
  border-radius: 6px;
  background: var(--White, #FFF);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  padding: 12px 19px;
  margin: 21px 0px;
}
section.testimonials .clintsaybox::before {
  content: "";
  background: url(../images/dobulquts.png);
  display: block;
  height: 36px;
  width: 59px;
  background-repeat: no-repeat;
  position: absolute;
  top: 35px;
}
section.testimonials .clintsaybox p {
  color: var(--Text-secondary, #4F5962);
  font-weight: 500;
  line-height: 24px;
  margin: 15px 0px;
}
section.testimonials .clintsaybox ul.reviewclint {
  display: flex;
  justify-content: end;
  -moz-column-gap: 3px;
       column-gap: 3px;
  margin-bottom: 5px;
}
section.testimonials .clintsaybox ul.reviewclint li {
  color: #FFA236;
  font-size: 12px;
}
section.testimonials .clintsaybox .google {
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
section.testimonials .clintsaybox .google i {
  color: #0088D1;
}
section.testimonials .clintsaybox .clint-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
section.testimonials .clintsaybox .clint-info img {
  width: 48px;
  height: 48px;
}
section.testimonials .clintsaybox .clint-info h4 {
  color: var(--Text-secondary, #4F5962);
  font-size: 14px;
  font-weight: 700;
}
section.testimonials .clintsaybox .clint-info p {
  color: var(--Text-secondary, #4F5962);
  font-size: 12px;
  font-weight: 300;
  margin: 0px;
}

section.discover-top .boxgrid {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}
section.discover-top .boxgrid img {
  filter: brightness(76%);
}
section.discover-top .boxgrid:hover img {
  transform: scale(1.1);
  filter: brightness(100%);
  transition: 1s;
}
section.discover-top .boxgrid h3 {
  position: absolute;
  bottom: 12px;
  color: #fff;
  font-size: 15px;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
}
section.discover-top .angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  gap: 25px;
  height: 100%;
}
section.discover-top #item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
section.discover-top #item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
section.discover-top #item-2 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 6;
}
section.discover-top #item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 5;
}
section.discover-top #item-4 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;
}

.allmodal #login input.form-control {
  padding: 11px 9px;
}
.allmodal #login h1 {
  color: var(--Primary-text-color, #212121);
  font-size: 16px;
  font-weight: 600;
}
.allmodal #login button.btn.bnt-block.loginbtnmodal {
  border-radius: 4px;
  background: var(--green-teal-darker, #2F6562);
  width: 100%;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 45px;
}
.allmodal #login h4 {
  color: var(--green-teal-dark, #368C86);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 45px;
}
.allmodal #login p {
  font-size: 13px;
  color: #7A7A7A;
  font-weight: 400;
}
.allmodal #login p a {
  color: var(--Primary-text-color, #212121);
  font-weight: 400;
}

footer {
  background: #fff;
}
footer .mainfooter {
  padding: 70px 0px;
}
footer .mainfooter .about-footers {
  margin-top: 0px;
}
footer .mainfooter .about-footers img {
  width: 200px;
}
footer .footer-links {
  color: #4F5962;
  margin-top: 7px;
}
footer .footer-links li {
  padding: 9px 0px;
}
footer .footer-links li:hover {
  margin-left: 10px;
  color: #0088D1;
  transition: 1s;
}
footer .footer-links h4 {
  font-size: 18px;
  font-weight: 700;
  color: #2F6562;
  margin-bottom: 10px;
}
footer .addressfooter li:hover {
  margin-left: 0px;
  color: #0088D1;
  transition: 1s;
}
footer img.infoicons {
  margin-right: 5px;
}
footer .about-footers p {
  margin-top: 21px;
  font-size: 15px;
  font-weight: 400;
}
footer .curow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul.social-icons {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
footer .copyright {
  padding: 16px 0px;
  border-top: 1px solid #ccc;
}
footer .copyright p {
  color: var(--Text-secondary, #4F5962);
}

/******************/
section.heroslider.page-coverbanner {
  background-image: none !important;
  padding: 0px !important;
  background: #fff;
}
section.heroslider.page-coverbanner .slidercaption {
  padding: 30px 0px !important;
}

.featuredbox:hover .featboximg img {
  transform: scale(1.1);
  transition: 1s;
}

.page-diractions {
  margin-bottom: 25px;
}
.page-diractions h4 {
  color: #3B4249;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}
.page-diractions li.breadcrumb-item {
  color: var(--green-teal, #3EB5AE);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.page-diractions li.breadcrumb-item.active {
  color: #777;
}
.page-diractions ol.breadcrumb {
  margin-bottom: 0px;
}

section.hotellistingsec button.btn.btn-primary {
  border-radius: 4px;
  border: 1px solid var(--green-teal-darker, #2F6562);
  background: var(--green-teal-darker, #2F6562);
}
section.hotellistingsec .cw-l {
  max-width: 360px;
}
section.hotellistingsec .featuredbox {
  display: flex;
  margin-top: 0px !important;
  margin-bottom: 21px !important;
}
section.hotellistingsec .featuredbox .featboximg {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 226px;
  padding: 0px;
}
section.hotellistingsec .featuredbox .featuredinfo {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
section.hotellistingsec section.featured-accommodations {
  padding: 0px !important;
}
section.hotellistingsec .feturboxview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 29px;
}
section.hotellistingsec .feturboxview .viewcount {
  font-weight: 600;
  margin-right: 13px;
}
section.hotellistingsec img.loginavterimg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
section.hotellistingsec .hosedby {
  margin-left: 8px;
  color: #3B4249;
  font-size: 10px;
  font-weight: 700;
  text-transform: capitalize;
}
section.hotellistingsec .hosedby span {
  display: block;
}
section.hotellistingsec .curow {
  border-top: 1px solid #D8DCE1;
  padding: 18px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.hotellistingsec .curow .noofhotels {
  color: #3B4249;
  font-size: 15px;
  font-weight: 400;
}
section.hotellistingsec .curow .sort-by {
  color: #3B4249;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: end;
}
section.hotellistingsec .curow .sort-by select.form-select {
  width: 38%;
  border: none;
  background: transparent;
  color: #4F5962;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}
section.hotellistingsec .curow .sort-by select.form-select:focus {
  box-shadow: none;
  border-color: transparent;
}
section.hotellistingsec aside.sidesec {
  background: #fff;
  margin-bottom: 20px;
  padding: 11px 17px;
}
section.hotellistingsec aside.sidesec button.btn.btn-cu {
  border-radius: 4px;
  border: 1px solid var(--green-teal-darker, #2F6562);
  background: var(--green-teal-darker, #2F6562);
  color: #fff;
  width: 100%;
}
section.hotellistingsec aside.sidesec li.showmorebtn {
  color: var(--green-teal-dark, #368C86);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
section.hotellistingsec aside.sidesec h4 {
  margin-bottom: 18px;
  color: #3B4249;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
section.hotellistingsec aside.sidesec ul.filterbox {
  margin-bottom: 20px;
}
section.hotellistingsec aside.sidesec ul.filterbox li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
section.hotellistingsec aside.sidesec ul.filterbox h6 {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 9px;
}
section.hotellistingsec aside.sidesec ul.filterbox label.form-check-label {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
section.hotellistingsec aside.sidesec ul.filterbox input#flexCheckDefault {
  border-radius: 0px;
}
section.hotellistingsec aside.sidesec ul.filterbox .productname {
  color: #A7A7A7;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 20px;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .reviewinfo {
  width: 70%;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .reviewinfo p.time {
  color: #3B4249;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .reviewinfo h5 {
  color: #3B4249;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .reviewinfo ul.ratinfpoint {
  display: flex;
  font-size: 10px;
  align-items: center;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .reviewinfo ul.ratinfpoint li {
  color: #F8B42B;
  margin-bottom: 0px;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .reviewinfo ul.ratinfpoint li.feelings {
  border-radius: 2.5px;
  background: #85C341;
  padding: 0px 5px;
  color: #fff;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .reviewinfo p.reviwwrite {
  color: #3B4249;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 7px;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .avterimg {
  width: 45px;
  height: 45px;
}
section.hotellistingsec aside.sidesec ul.latestreviewdetis li .avterimg img {
  width: 100%;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar li {
  display: flex;
  margin-bottom: 10px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar ul.ratinfpoint {
  display: flex;
  font-size: 11px;
  align-items: center;
  -moz-column-gap: 1px;
       column-gap: 1px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar ul.ratinfpoint li {
  color: #FFA236;
  margin-bottom: 0px;
  font-size: 11px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar ul.ratinfpoint li.ratepernight {
  color: #3B4249 !important;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar h6 {
  color: #3B4249;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar ul.featurepoint {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar ul.featurepoint li {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom: 0px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar .sidebarfeterimg img {
  border-radius: 3px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar .sidebarfeterimg p {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  position: absolute;
  top: 3px;
  background: var(--green-teal, #3EB5AE);
  padding: 2px 4px;
}
section.hotellistingsec aside.sidesec ul.featuredsidebar .sidebarfeterinfo {
  margin-left: 15px;
}

section.contact-uspage .conact-info-page {
  padding-right: 125px;
}
section.contact-uspage form .mb-3 {
  margin-bottom: 40px !important;
}
section.contact-uspage form label.form-label {
  color: #3B4249;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
section.contact-uspage form button.btn.btn-block.btn-submit {
  border-radius: 4px;
  background: var(--green-teal-darker, #2F6562);
  color: #fff;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
section.contact-uspage .title {
  font-size: 24px;
}
section.contact-uspage p {
  color: #7A7A7A;
  font-size: 15px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 25px;
}
section.contact-uspage .conctinfo {
  margin-bottom: 31px;
}
section.contact-uspage .conctinfo ul li {
  color: #7A7A7A;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
}
section.contact-uspage .conctinfo ul li span {
  font-weight: 700;
}
section.contact-uspage .conctinfo ul.redpoint a {
  color: #F15E75;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
section.contact-uspage .conctinfo h4 {
  color: #7A7A7A;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
section.contact-uspage .conctinfo p {
  color: #7A7A7A;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.faq-conatnt .contanthere {
  background: #fff;
  padding: 20px 28px;
}
.faq-conatnt .contanthere p {
  color: #7A7A7A;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.faq-conatnt h4 {
  color: #7A7A7A;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.faq-conatnt .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
}
.faq-conatnt .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
.faq-conatnt .accordion-item {
  border: none !important;
}
.faq-conatnt .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}
.faq-conatnt .accordion-button:focus {
  box-shadow: none;
}
.faq-conatnt .card-body {
  padding: 14px 32px;
}

.about-page h3.title {
  color: var(--green-teal-darker, #2F6562);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}
.about-page .ourstory p.stryhere {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 45px;
       column-gap: 45px;
  color: #7A7A7A;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
}
.about-page section.ourvalue .valuebox {
  margin-bottom: 31px;
}
.about-page section.ourvalue .valuebox img {
  border-radius: 4px;
}
.about-page section.ourvalue .valueboxcaption h4 {
  color: var(--green-teal, #3EB5AE);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 8px 0px;
}
.about-page section.ourvalue .valueboxcaption p {
  color: #7A7A7A;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
.about-page section.ourteam p.teampersonanmes {
  color: #7A7A7A;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-top: 17px;
}
.about-page section.ourteam p.teampersonanmes span {
  display: block;
  font-weight: 500;
}
.about-page section.pressroom .preeroom-caption {
  background: #fff;
  padding: 20px;
}
.about-page section.pressroom .preeroom-caption h4 {
  color: #3B4249;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}
.about-page section.pressroom .preeroom-caption p {
  color: #3B4249;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 13px 0px;
}
.about-page section.pressroom .preeroom-caption .preeroom-caption {
  background: #fff;
  padding: 13px 17px;
}
.about-page section.pressroom .preeroom-caption .bloginfo {
  color: #3B4249;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
.about-page section.pressroom .preeroom-caption .bloginfo span {
  color: var(--green-teal, #3EB5AE);
}
.about-page section.pressroom .preeroom-caption .tag {
  color: var(--green-teal, #3EB5AE);
  margin-top: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.about-page section.pressroom .preeroom-caption .tag i {
  color: #000;
}

.checkoutpage .title {
  color: #3B4249;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 20px;
}
.checkoutpage .guest-details h3.boxtitle {
  padding-top: 24px;
  padding-left: 24px;
}
.checkoutpage .guest-details form .formlogincontnt.row.g-3 {
  padding: 24px;
}
.checkoutpage .guest-details form .loginbtnform {
  padding: 6px 24px;
  background: #EBF5FF;
}
.checkoutpage .guest-details button.btn.btn-submit {
  border-radius: 4px;
  border: 1px solid var(--green-teal, #3EB5AE);
  background: #FFF;
}
.checkoutpage .guest-details label.form-check-label {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.checkoutpage .guest-details label.form-check-label span {
  font-size: 12px;
}
.checkoutpage .guest-details label.form-label {
  color: #7A7A7A;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.checkoutpage .guest-details label.form-label span {
  font-size: 11px;
}
.checkoutpage .important-info {
  background-color: rgba(62, 181, 174, 0.2) !important;
  border: 2px dashed #4ca9a5;
}
.checkoutpage .important-info h3.boxtitle {
  font-weight: 600;
}
.checkoutpage .important-info ul {
  margin-top: 5px;
}
.checkoutpage .important-info ul li {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 10px 0px;
}
.checkoutpage .mainboxcheckbox .tandcline {
  color: #7A7A7A;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.6px;
}
.checkoutpage .mainboxcheckbox .tandcline a {
  color: #0084FF;
}
.checkoutpage .mainboxcheckbox .threesmbox.midbox {
  width: 24%;
}
.checkoutpage .mainboxcheckbox .threesmbox {
  width: 35%;
}
.checkoutpage .mainboxcheckbox .hotelname {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}
.checkoutpage .mainboxcheckbox p.address {
  color: #3B4249;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.checkoutpage .mainboxcheckbox .hotelrationg {
  color: #FFA236;
  font-size: 13px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin: 5px 0px;
}
.checkoutpage .mainboxcheckbox h3.boxtitle {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.checkoutpage .mainboxcheckbox .timebook {
  color: #7A7A7A;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.9px;
  letter-spacing: -0.13px;
  text-align: center;
  border: 1px solid #7A7A7A;
  padding: 3px;
  border-radius: 4px;
  margin: auto;
}
.checkoutpage .mainboxcheckbox .check-in .sectitle {
  color: #7A7A7A;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.checkoutpage .mainboxcheckbox .check-in p.daytime {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.checkoutpage .mainboxcheckbox .check-in p.day {
  color: var(--Text-secondary, #4F5962);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.checkoutpage .mainboxcheckbox .check-in p.day span {
  font-weight: 700;
}
.checkoutpage .datecheckin {
  padding: 21px 0px;
}
.checkoutpage .roomtype-info {
  padding: 0px 50px;
}
.checkoutpage article.sm-boxcheck {
  background: #fff;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3294117647);
}
.checkoutpage .boxbody {
  padding: 24px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
}
.checkoutpage .sidebartititle {
  padding: 15px;
}
.checkoutpage .mainboxcheckbox .hotel-imgbox {
  width: 133px;
}
.checkoutpage .your-Stay label.form-check-label {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.checkoutpage .your-Stay .form-check-input[type=checkbox] {
  border-radius: 0px;
}
.checkoutpage .your-Stay .form-check {
  margin-top: 12px;
}
.checkoutpage .inclusions a {
  color: var(--green-teal-darker, #2F6562);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.checkoutpage .inclusions ul li {
  margin-left: 24px;
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  padding: 4px 0px;
}
.checkoutpage .inclusions ul li::before {
  content: "\f00c";
  position: absolute;
  left: -23px;
  font-family: "FontAwesome";
  color: var(--green-teal-darker);
}
.checkoutpage .accordiyanmain button.accordion-btn {
  background: none;
  border: 0px;
}
.checkoutpage .accordiyanmain .accordion-header {
  padding: 10px;
  cursor: pointer;
}
.checkoutpage .accordiyanmain .accordion-body {
  display: none;
  padding: 10px;
}
.checkoutpage .accordiyanmain p.accoditan-title {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.checkoutpage .accordiyanmain p.text-red {
  color: #F00;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.checkoutpage a.btn-payhotel.pay-hotel {
  background: #fff;
  color: #2f6562;
}
.checkoutpage a.btn-payhotel {
  border-radius: 4px;
  background: var(--green-teal-darker, #2F6562);
  width: 44%;
  display: inline-block;
  text-align: center;
  padding: 8px 0px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border: 1px solid;
  border: 1px solid var(--green-teal-darker, #2F6562);
}
.checkoutpage button.btn.bnt-link.addgust-btn {
  color: var(--green-teal-darker, #2F6562);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.checkoutpage .exrafilds .form-check-input {
  float: left;
  margin-left: -1px;
  border-radius: 0px !important;
}
.checkoutpage .exrafilds label.form-check-label {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: 8px;
}
.checkoutpage .exrafilds .form-check.form-check-inline {
  border: 1px solid #ccc;
  padding: 7px 13px;
  margin: 5px 4px;
  border-radius: 4px;
}
.checkoutpage .exrafilds label.form-label {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-top: 20px;
}
.checkoutpage aside.sidebarckecout {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  background: #fff;
  margin-bottom: 20px;
}
.checkoutpage aside.sidebarckecout .colortext {
  color: var(--green-teal-dark, #368C86) !important;
}
.checkoutpage aside.sidebarckecout .asidebody {
  padding: 15px 15px;
}
.checkoutpage aside.sidebarckecout h5 {
  color: var(--Primary-text-color, #212121);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.checkoutpage aside.sidebarckecout h5 a {
  color: var(--green-teal-dark, #368C86);
}
.checkoutpage aside.sidebarckecout .signinpoint li {
  color: var(--Primary-text-color, #212121);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  padding: 6px 45px;
  position: relative;
}
.checkoutpage aside.sidebarckecout .signinpoint li span {
  font-weight: 700;
}
.checkoutpage aside.sidebarckecout .signinpoint li::before {
  content: "\f00c";
  position: absolute;
  left: 23px;
  font-family: "FontAwesome";
  color: var(--green-teal-darker);
}
.checkoutpage aside.sidebarckecout .Price-Breaku li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D8DCE1;
  padding: 13px 0px;
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.5px; /* 150% */
  margin: 0px 15px;
}
.checkoutpage aside.sidebarckecout .Price-Breaku li small {
  display: block;
}
.checkoutpage aside.sidebarckecout .Price-Breaku li.discount {
  color: var(--green-teal-dark, #368C86) !important;
}
.checkoutpage aside.sidebarckecout .Price-Breaku li.total {
  background: #F2F2F2;
  margin: 0px;
  padding: 14px 15px;
}
.checkoutpage aside.sidebarckecout .discontcoupen li {
  display: flex;
  justify-content: space-between;
  border: 1px dashed #ccc;
  margin: 10px 0px;
  padding: 9px;
  margin-bottom: 21px;
}
.checkoutpage aside.sidebarckecout .discontcoupen li small {
  color: #7A7A7A;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.6px; /* 120% */
  display: block;
  margin-left: 24px;
}
.checkoutpage aside.sidebarckecout .discontcoupen li label.form-check-label {
  color: var(--grey-icon-color, #3B4249);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.checkoutpage aside.sidebarckecout .discontcoupen li .pricebar {
  color: var(--grey-icon-color, #3B4249);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 150% */
}
.checkoutpage aside.sidebarckecout .discontcoupen li.appylyfild {
  border: 0px;
  padding: 0px;
}
.checkoutpage aside.sidebarckecout .discontcoupen li.appylyfild input.inputfild {
  width: 80%;
  padding: 7px 5px;
}
.checkoutpage aside.sidebarckecout .discontcoupen li.appylyfild input[type=submit] {
  width: 28%;
  border: 0px;
  background: var(--green-teal-darker, #2F6562);
  color: var(--White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
  .title {
    font-size: 22px;
  }
  .subtitle {
    font-size: 14px;
  }
  .comman-title {
    margin-bottom: 5px;
  }
  header a.navbar-brand {
    width: 191px;
  }
  section.heroslider .input-fild {
    margin-bottom: 13px;
  }
  section.heroslider .slidercaption {
    color: #fff;
    padding: 50px 0px;
  }
  section.heroslider .slidercaption h2 {
    font-size: 23px !important;
    line-height: normal !important;
  }
  section.heroslider .slidercaption p {
    font-size: 17px;
    font-weight: 600;
  }
  section.bookwithtoday .title {
    font-size: 19px;
  }
  section.find-the-perfect ul.find-the-point li {
    width: 100%;
  }
  section.bookwithtoday ul.bookpointbox li {
    height: 81px;
  }
  section.bookwithtoday ul.bookpointbox li h4 {
    font-size: 24px;
  }
  section.bookwithtoday ul.bookpointbox li p {
    font-size: 12px;
  }
  section.discover-top .angry-grid {
    display: flex;
    flex-direction: column;
  }
  section.subscribe .subscribr-input {
    flex-direction: column;
    gap: 19px;
  }
  section.subscribe button.cubtn {
    margin: 0px !important;
    width: 100% !important;
  }
  footer .mainfooter {
    padding: 10px 0px;
  }
  footer .curow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 22px;
  }
  footer .footer-links {
    margin-top: 40px !important;
  }
}
/* Mobile devices *//*# sourceMappingURL=style.css.map */