@import url(bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(../css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --green-teal: #3EB5AE;
  --background: #FBFBFB;
  --grey-icon-color:#3B4249;
  --green-teal-dark: #368C86;
  --green-teal-darker: #2F6562;
  --Primary-text-color: #212121;
  --Text-secondary: #4F5962;
  --grey-icon-color: #3B4249;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, table, th, td, tr, tbody, thead, thead, tfoot, dl, dt, dd, div, em, strong, b, i, sub, sup, ul, ol, li, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, blockquote, a, abbr, acronym, address, big, small, cite, code, del, dfn, font, ins, kbd, q, s, samp, strike, fieldset, form, label, legend, caption, main, section, header, footer, aside, hgroup {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

.cls {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: var(--background, #FBFBFB);
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

ul, ol, li {
  list-style: none;
}

a:focus,
input:focus,
select:focus {
  outline: 0 !important;
}

textarea {
  resize: none;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

#page-warpper {
  width: auto;
}

section {
  padding: 50px 0px;
}

:root {
  --background: #FBFBFB;
  --green-teal: #3EB5AE;
  --background: #FBFBFB;
  --grey-icon-color:#3B4249;
  --green-teal-dark: #368C86;
  --green-teal-darker: #2F6562;
  --primary-color: #333;
  --secondary-color: #888;
  --primary-text-color: #212121;
  --secondary-text-color: #777;
  --text-secondary: #4F5962;
  --stroke: #D8DCE1;
  --stroke-on-black-back:rgba(137, 137, 137, 0.40);
  --white: #fff;
  --font1: "Lato", sans-serif;
}

.comman-title.text-center {
  margin-bottom: 35px;
}

.title {
  font-weight: 600;
  font-size: 34px;
  color: var(--Primary-text-color);
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #777777;
  margin-top: 13px;
}

.bg-gray {
  background-color: var(--background);
}

.sec-padding {
  padding: 80px 0;
}

.text-capitalize {
  text-transform: capitalize;
}

.page-title {
  color: var(--grey-icon-color);
  font-family: var(--font1);
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}

.small-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.section-heading {
  color: var(--grey-icon-color);
  font-family: var(--font1);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.breadcrumbs {
  display: flex;
  gap: 16px;
}
.breadcrumbs .breadcrumb-item {
  font-family: var(--font1);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.breadcrumbs li {
  position: relative;
}
.breadcrumbs li:not(:last-child) .breadcrumb-item {
  color: var(--green-teal-dark);
}
.breadcrumbs li:not(:last-child)::before {
  content: "\f054";
  font-weight: 600;
  font-family: "FontAwesome";
  right: -8px;
  position: absolute;
  font-size: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.breadcrumbs li:last-child .breadcrumb-item {
  color: var(--secondary-text-color);
}

.btn {
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.5s ease-in-out;
}
.btn.btn-transparent {
  color: #949CA5;
  border-radius: 4px;
  border: 1px solid var(--stroke);
}
.btn.btn-transparent:hover {
  border-color: var(--green-teal-dark);
  color: var(--green-teal-dark);
}
.btn.btn-transparent.cancel-btn {
  color: #FF7B7B;
}
.btn.btn-transparent.cancel-btn:hover {
  border-color: #FF7B7B;
  color: #FF7B7B;
}
.btn.btn-solid {
  border-radius: 4px;
  border: 1px solid var(--green-teal-darker, #2F6562);
  background: var(--green-teal-darker, #2F6562);
  color: #fff;
}
.btn.btn-text {
  color: #949CA5;
}

.custom-owl-carousel.owl-theme .owl-nav {
  margin-top: 0;
}
.custom-owl-carousel .owl-prev,
.custom-owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px !important;
  width: 36px;
  height: 36px;
  line-height: 36px !important;
  color: #fff !important;
  background-color: var(--green-teal-dark) !important;
}
.custom-owl-carousel .owl-prev {
  left: 30px;
}
.custom-owl-carousel .owl-next {
  right: 30px;
}

.form--wrapper .form-group {
  margin-bottom: 30px;
}

.form--wrapper .form-label,
.form-wrapper .form-label {
  color: var(--grey-icon-color);
  font-size: 16px;
  font-weight: 500;
}

.form-label.label-sm {
  font-size: 14px;
}

.form--wrapper .form-label .req,
.form-wrapper .form-label .req {
  color: #f00;
}

.form--wrapper .form-control {
  border-radius: 4px;
  border: 1px solid var(--stroke);
  height: 47px;
  color: var(--primary-color, #333);
  font-size: 16px;
  font-weight: 500;
}

.form--wrapper input[type=date] {
  text-transform: uppercase;
}

.form--wrapper .custom-input-group .form-control {
  border: none;
}

.form--wrapper .custom-input-group {
  border-radius: 4px;
  border: 1px solid var(--stroke);
  height: 64px;
  align-items: center;
  display: flex;
}

.form--wrapper .inp-group-ico {
  border-radius: 2px;
  border: 1px solid var(--stroke);
  padding: 10px;
  margin-right: 10px;
  color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  width: 183px;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.form--wrapper .inp-group-ico:hover {
  color: var(--green-teal-dark);
}

.radio-btn {
  position: relative;
  height: 52px;
  line-height: 52px;
}

.radio-btn input[type=radio] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.radio-btn span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--stroke);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.radio-btn input[type=radio]:checked + span {
  border-color: var(--green-teal-darker);
  color: var(--green-teal-darker);
}

.custom-nav-tab .nav-tabs {
  position: relative;
}
.custom-nav-tab .nav-tabs .nav-link {
  color: #7A7A7A;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 0 0 14px;
  border: none;
  background: transparent;
}
.custom-nav-tab .nav-tabs .nav-link:not(:last-child) {
  margin-right: 40px;
}
.custom-nav-tab .nav-tabs .nav-link.active {
  color: var(--green-teal-dark);
}
.custom-nav-tab .nav-tabs .nav-link.active span {
  color: #7A7A7A;
  font-weight: 400;
  font-size: 14px;
}
.custom-nav-tab .glider {
  position: absolute;
  height: 2px;
  bottom: 0;
  background-color: var(--green-teal-dark);
  transition: 0.5s ease-in-out;
}

.desc-main-wrapper .left-div {
  background-color: #fff;
  margin-bottom: 30px;
}
.desc-main-wrapper .left-row {
  padding: 40px;
  border-bottom: 1px solid var(--stroke);
}
.desc-main-wrapper .left-row.further-details {
  display: flex;
}
.desc-main-wrapper .left-row .list {
  color: var(--grey-icon-color);
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 70%;
}
.desc-main-wrapper .left-row .list b {
  font-weight: 700;
}
.desc-main-wrapper .left-row .list li:not(:last-child) {
  margin-bottom: 15px;
}
.desc-main-wrapper .left-row .list li a {
  color: #F15E75;
  padding-left: 3px;
}
.desc-main-wrapper .left-row .list .sub-title {
  color: var(--grey-icon-color);
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
.desc-main-wrapper .left-row.prices img {
  vertical-align: middle;
  margin-right: 5px;
  vertical-align: middle;
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 9px;
}
.desc-main-wrapper .left-row.prices ul {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 13.5rem;
       column-width: 13.5rem;
  line-height: 30px;
}
.desc-main-wrapper .left-row.prices li {
  position: relative;
  padding-left: 22px;
}
.desc-main-wrapper .left-row.prices .sub-title {
  margin-bottom: 19px;
}
.desc-main-wrapper .left-row.terms-and-rules li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
}
.desc-main-wrapper .left-row.terms-and-rules li img {
  vertical-align: middle;
  margin-right: 5px;
}
.desc-main-wrapper .hosted-by .bottom-btns {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.desc-main-wrapper .hosted-by .bottom-btns .btn {
  flex: 0 0 calc(50% - 6px);
}
.desc-main-wrapper .hosted-by .inner-title {
  color: var(--grey-icon-color);
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
.desc-main-wrapper .hosted-by .verified {
  color: #85C341;
  font-family: Lato;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
.desc-main-wrapper .hosted-by .verified svg {
  margin-right: 5px;
}
.desc-main-wrapper .hosted-by-inner {
  display: flex;
  gap: 40px;
  align-items: center;
}
.desc-main-wrapper .hosted-by-inner .inner-title {
  color: var(--grey-icon-color);
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
.desc-main-wrapper .reviews {
  color: var(--grey-icon-color);
  font-family: var(--font1);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.desc-main-wrapper .reviews i {
  margin-right: 5px;
}
.desc-main-wrapper .hotel-detail-inner {
  text-align: center;
  flex: 0 0 25%;
  padding: 30px 24px;
}
.desc-main-wrapper .hotel-detail-inner img {
  margin-bottom: 24px;
}
.desc-main-wrapper .hotel-detail-inner .label {
  color: var(--grey-icon-color);
  text-align: center;
  font-family: var(--font1);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.desc-main-wrapper .hotel-detail-inner .value {
  color: var(--grey-icon-color);
  text-align: center;
  font-family: var(--font1);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.desc-main-wrapper .hotel-detail-inner:not(:last-child) {
  border-right: 1px solid var(--stroke);
}
.desc-main-wrapper .section-heading {
  margin-bottom: 20px;
}
.desc-main-wrapper p {
  color: var(--grey-icon-color);
  font-family: var(--font1);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.desc-main-wrapper .left-title {
  color: var(--grey-icon-color);
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  width: 30%;
}
.desc-main-wrapper .review-div {
  border-top: 1px solid var(--stroke);
  padding-top: 26px;
  margin-bottom: 40px;
}
.desc-main-wrapper .review-title {
  color: var(--grey-icon-color);
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}
.desc-main-wrapper .review-verify {
  color: var(--primary-text-color);
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  border: 1px solid #34B2E4;
  background: #E3F0F6;
  padding: 16px 31px;
}
.desc-main-wrapper .review-verify img {
  vertical-align: middle;
  margin-right: 5px;
}
.desc-main-wrapper .right-div {
  position: sticky;
  top: 20px;
}
.desc-main-wrapper .right-div .input-fild {
  position: relative;
  height: 37px;
}
.desc-main-wrapper .right-div .input-fild input {
  border-radius: 4px;
  padding: 10px 29px;
  font-size: 15px;
}
.desc-main-wrapper .right-div .input-fild .preicon {
  position: absolute;
  background: #fff;
  width: 24px;
  top: 4px;
  height: 37px;
  line-height: 37px;
  color: rgba(50, 83, 81, 0.5411764706);
  left: 3px;
  text-align: center;
}
.desc-main-wrapper .right-div .input-fild .preicon img {
  vertical-align: middle;
}
.desc-main-wrapper .right-div .price-head {
  background: var(--green-teal);
  color: #fff;
  padding: 17px 30px;
  font-family: var(--font1);
  font-size: 28px;
  font-weight: 500;
  line-height: 25px;
}
.desc-main-wrapper .right-div .price-head sup {
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}
.desc-main-wrapper .right-div .price-head span {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  margin-left: 10px;
}
.desc-main-wrapper .right-div .form-wrapper {
  padding: 19px 30px;
}
.desc-main-wrapper .right-div label {
  color: var(--grey-icon-color);
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 15px;
}
.desc-main-wrapper .right-div .form-check-label {
  font-weight: 400;
}
.desc-main-wrapper .right-div .form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 10px;
}
.desc-main-wrapper .right-div .form-check-input:focus {
  border-color: var(--green-teal);
  box-shadow: none;
}
.desc-main-wrapper .right-div .form-check-input:checked {
  background-color: var(--green-teal-dark);
  border-color: var(--green-teal-dark);
}
.desc-main-wrapper .right-div .info {
  color: #949CA5;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  margin: 8px 0 22px;
}
.desc-main-wrapper .right-div .info i {
  margin-right: 5px;
}
.desc-main-wrapper .right-div .btn-solid {
  margin-top: 20px;
}
.desc-main-wrapper .right-div .bottom-btns {
  padding: 30px 30px 0;
  border-top: 1px solid var(--stroke);
}
.desc-main-wrapper .right-div .bottom-btns .btn-transparent {
  margin-bottom: 10px;
}
.desc-main-wrapper .right-div .bottom-btns .btn-text {
  margin-bottom: 21px;
}
.desc-main-wrapper .right-div .social-icons {
  background: rgba(148, 156, 165, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  color: #949CA5;
  height: 70px;
}

.similar-listing .entry-title {
  color: var(--grey-icon-color);
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 30px;
}
.similar-listing .similar-listing-div {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  background-color: #fff;
}
.similar-listing .price {
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 25px;
}
.similar-listing .img-container {
  position: relative;
}
.similar-listing .img-container img {
  height: 100%;
}
.similar-listing .overlay {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.similar-listing .overlay .price small {
  font-size: 14px;
  vertical-align: bottom;
}
.similar-listing .overlay .price span {
  font-size: 14px;
  vertical-align: baseline;
}
.similar-listing .content {
  padding: 20px 20px 20px 25px;
  width: calc(100% - 300px);
}
.similar-listing .content p {
  color: #949CA5;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.similar-listing .content ul {
  margin-bottom: 30px;
}
.similar-listing .content ul li {
  display: inline-block;
  color: var(--grey-icon-color);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.similar-listing .content ul li:not(:last-child) {
  margin-right: 18px;
  margin-bottom: 8px;
}
.similar-listing .content ul li img {
  width: 14px;
  vertical-align: middle;
  margin-right: 7px;
}
.similar-listing .content .hosted-by-inner {
  gap: 10px;
}
.similar-listing .content .hosted-by-inner img {
  width: 36px;
}
.similar-listing .content .hosted-by-inner .inner-title {
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
}
.similar-listing .content .reviews {
  font-size: 13px;
  font-weight: 700;
}
.similar-listing .content .reviews span {
  text-decoration: underline;
}
.similar-listing .content .three-dots {
  color: #949CA5;
  margin-left: 18px;
}

.featured {
  color: #FFF;
  text-align: center;
  font-family: var(--font1);
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  border-radius: 2.5px;
  background-color: var(--green-teal);
  padding: 3px 6.17px 3px 6px;
  display: inline-block;
}

.notification-page {
  padding: 50px 65px;
}
.notification-page .notification-list {
  padding-top: 12px;
}
.notification-page .notification-list li {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  margin-bottom: 24px;
  position: relative;
}
.notification-page .notification-list li p {
  color: var(--grey-icon-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-right: 30px;
}
.notification-page .notification-list li .date {
  color: #949CA5;
  font-size: 13px;
  font-weight: 400;
}
.notification-page .notification-list li:not(:last-child) {
  border-bottom: 1px solid var(--stroke);
}
.notification-page .notification-list li .close {
  position: absolute;
  right: 0;
  font-size: 20px;
  top: 5px;
  color: var(--grey-icon-color);
}
.notification-page .notification-list .jux-ico {
  width: 50px;
  min-width: 50px;
  height: 50px;
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--stroke);
  margin-right: 30px;
}

/* Sidebar */
.sidebar-div {
  /* height: calc(100vh - 124px);
  overflow: auto; */
  border-right: 1px solid var(--stroke);
  background: rgba(248, 248, 248, 0.45);
  padding-bottom: 40px;
  position: sticky;
  top: 70px;
}

.sidebar-div .accounts {
  border-bottom: 1px solid var(--stroke);
}

.sidebar-div .accounts .menu-title {
  font-size: 18px;
  font-weight: 700;
}

.menu-title {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.sub-menu-title {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  display: block;
  position: relative;
  transition: 0.5s ease-in-out;
}
.sub-menu-title.active {
  color: var(--green-teal-darker);
  font-weight: 700;
}
.sub-menu-title.active::before {
  content: "\f054";
  position: absolute;
  font-family: "FontAwesome";
}
.sub-menu-title:hover {
  color: var(--green-teal-darker);
}

.sub-menu-title:not(:last-child) {
  margin-bottom: 24px;
}

.sidebar-inner {
  padding: 24px;
}
.sidebar-inner:not(:last-child) {
  border-bottom: 1px dashed var(--stroke);
}

.main-wrapper {
  padding: 50px 150px 40px 20px;
}

.dashboard-view {
  background-color: #fff;
  border-top: 1px solid var(--stroke);
}
.dashboard-view .dashboard-page-title {
  color: var(--green-teal-darker);
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  margin-bottom: 30px;
}

.profile-details table td {
  color: var(--grey-icon-color);
  font-size: 18px;
  font-weight: 500;
  padding: 20px 75px;
}
.profile-details .edit-btn {
  margin-top: 70px;
  font-size: 15px;
}

.profile-details table td:first-child {
  padding-left: 0;
}

.profile-details table td a {
  color: var(--primary-color);
}

@media (max-width: 575.98px) {
  .profile-details table td {
    padding: 20px 15px;
    word-break: break-word;
    font-size: 15px;
  }
  .profile-details .edit-btn {
    margin-top: 40px;
  }
  .form--wrapper .inp-group-ico {
    width: auto;
  }
}
/* ********** Refer and Earn *********** */
.refer-earn-section .content {
  margin-top: 20px;
}

.refer-earn-section .content .title {
  color: var(--grey-icon-color);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.refer-earn-section .content p {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
}

.refer-earn-section .entry-title {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

.referral-code {
  margin-top: 36px;
}

.referral-code .code {
  border-radius: 4px;
  border: 1px dashed var(--stroke-on-black-back);
  background: #EEE;
  color: var(--primary-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2.8px;
  width: 290px;
  padding: 10px 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.referral-code .code i {
  margin-left: 20px;
  font-size: 18px;
  vertical-align: middle;
}

.referral-code .code:hover {
  background-color: var(--green-teal-darker);
  color: #fff;
  border-color: var(--green-teal-darker);
}

.social-icon {
  margin-left: 24px;
}
.social-icon a {
  color: var(--secondary-color);
  display: inline-block;
  padding: 0px 10px;
  transition: 0.5s ease-in-out;
  font-size: 22px;
}
.social-icon a:not(:last-child) {
  margin-right: 12px;
}

.social-icon a:hover {
  color: var(--green-teal-dark);
}

.hiw {
  padding-top: 60px;
}

.hiw .headline-4 {
  color: var(--grey-icon-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  margin-bottom: 10px;
}

.hiw .small-paragraph {
  color: var(--secondary-color);
}

.my-bookings .featured {
  position: absolute;
  top: 20px;
  left: 20px;
}
.my-bookings .date-room {
  display: flex;
  border-top: 1px solid var(--stroke);
  border-bottom: 1px solid var(--stroke);
  margin: 12px 0 14px;
}
.my-bookings .date-room .label {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 6px;
}
.my-bookings .date-room .value {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.my-bookings .date-room .value b {
  font-weight: 700;
  font-size: 15px;
  color: var(--grey-icon-color);
}
.my-bookings .date-room .executive-room {
  padding: 10px 0;
}
.my-bookings .date-room .executive-room .label {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-icon-color);
}
.my-bookings .date-room .travel-date {
  padding: 10px 40px 10px 0;
  border-right: 1px solid var(--stroke);
  margin-right: 40px;
}
.my-bookings .cancel-btn {
  margin-top: 14px;
}
.my-bookings .custom-nav-tab {
  margin-bottom: 35px;
}
.my-bookings .similar-listing .similar-listing-div:not(:last-child) {
  margin-bottom: 40px;
}
.my-bookings .similar-listing .content .reviews {
  line-height: 26px;
}
.my-bookings .similar-listing .img-container {
  width: 300px;
}
.my-bookings .similar-listing .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
}
.my-bookings .bottom-btns .btn {
  font-weight: 500;
}
.my-bookings .bottom-btns .btn:not(:last-child) {
  margin-right: 30px;
}
.my-bookings .bottom-btns .btn-text {
  color: var(--green-teal-darker);
}
.my-bookings .bottom-btns .btn-solid {
  width: 164px;
  background-color: var(--green-teal-dark);
  border-color: var(--green-teal-dark);
}

@media (max-width: 991.98px) {
  .desc-main-wrapper .right-div {
    margin-top: 50px;
  }
}
header {
  background: #fff;
  padding: 10px 0px;
}
header li.nav-item {
  padding: 0px 10px;
}
header a.nav-link {
  color: #2F6562 !important;
  font-weight: 600;
}
header li.nav-item.login {
  padding-right: 0px;
}
header li.nav-item.login a.nav-link {
  background-color: var(--green-teal-darker);
  color: #fff !important;
  border-radius: 6px;
}

section.heroslider {
  background-image: url(../images/slider-bg.png);
  background-repeat: no-repeat;
  text-align: center;
}
section.heroslider .slidercaption {
  color: #fff;
  padding: 150px 0px;
}
section.heroslider .slidercaption h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
}
section.heroslider .slidercaption p {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  margin-bottom: 19px;
  margin-top: 24px;
}
section.heroslider .slidercaption .input-fild {
  position: relative;
  height: 37px;
}
section.heroslider .slidercaption .input-fild input {
  border-radius: 3px;
  padding: 10px 29px;
  font-size: 15px;
}
section.heroslider .slidercaption .input-fild .preicon {
  position: absolute;
  background: #fff;
  width: 24px;
  top: 4px;
  height: 37px;
  line-height: 37px;
  color: rgba(50, 83, 81, 0.5411764706);
  left: 3px;
}
section.heroslider .slidercaption button.btn.btn-cu {
  background: #2f6562;
  color: #fff;
  border-radius: 3px;
  padding: 9px 15px;
}

section.featured-accommodations #featured {
  position: relative;
}
section.featured-accommodations #featured .owl-prev {
  position: absolute;
  border: 1px solid #ccc;
  padding: 5px 8px !important;
  top: -36px;
  font-size: 12px;
  font-weight: 700;
  right: 3px;
}
section.featured-accommodations #featured .owl-next {
  position: absolute;
  top: -36px;
  border: 1px solid #ccc;
  padding: 5px 8px !important;
  font-size: 12px;
  font-weight: 700;
  right: 60px;
}
section.featured-accommodations .featuredbox {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 6px, rgba(0, 0, 0, 0) 0px 3px 6px;
  margin: 20px 9px;
}
section.featured-accommodations .featboximg {
  overflow: hidden;
  height: 230px;
}
section.featured-accommodations .featuredtag {
  position: absolute;
  top: 11px;
  font-size: 10px;
  font-weight: 700;
  background: var(--green-teal);
  color: #fff;
  padding: 3px 11px;
  border-radius: 2px;
  left: 12px;
  text-transform: uppercase;
}
section.featured-accommodations .priceinfobox {
  padding: 0px 23px;
  position: relative;
  top: -64px;
}
section.featured-accommodations .priceinfobox img {
  border: 2px solid #fff;
  border-radius: 50%;
}
section.featured-accommodations .priceinfobox p {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
}
section.featured-accommodations .priceinfobox p sup, section.featured-accommodations .priceinfobox p sub {
  font-size: 14px;
  font-weight: 500;
}
section.featured-accommodations .featuredinfo {
  background: #fff;
  padding: 25px 25px;
}
section.featured-accommodations .featuredinfo h4 {
  font-size: 16px;
  font-weight: 600;
  color: #3B4249;
}
section.featured-accommodations .featuredinfo p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #949CA5;
}
section.featured-accommodations .featuredinfo ul.ponit-room {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
}
section.featured-accommodations .featuredinfo ul.ponit-room li {
  display: flex;
  font-size: 14px;
  align-items: center;
  font-weight: 400;
  padding-right: 16px;
  padding-bottom: 5px;
}
section.featured-accommodations .featuredinfo ul.ponit-room li img {
  margin-right: 2px;
}
section.featured-accommodations .featuredinfo .feturboxview .viewcount {
  font-size: 13px;
}
section.featured-accommodations .featuredbox img {
  width: auto;
}

section.bookwithtoday {
  background: #F5F5F5;
}
section.bookwithtoday p.subtitle {
  color: var(--green-teal, #3EB5AE);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}
section.bookwithtoday ul.bookpointbox {
  display: flex;
  gap: 23px;
}
section.bookwithtoday ul.bookpointbox li {
  border-radius: 10px;
  background: var(--green-teal-dark);
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.bookwithtoday ul.bookpointbox li h4 {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}
section.bookwithtoday ul.bookpointbox li p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
section.bookwithtoday .title {
  color: var(--grey-icon-color, #3B4249);
  font-size: 38px;
  margin: 20px 0px;
}

section.find-the-perfect ul.find-the-point {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
section.find-the-perfect ul.find-the-point li {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.0588235294);
  align-items: center;
  width: 31.33%;
  border-radius: 5px;
  cursor: pointer;
}
section.find-the-perfect ul.find-the-point li:hover .boxfindimg img {
  transform: scale(1.1);
  transition: 1s;
}
section.find-the-perfect ul.find-the-point li .boxfindimg {
  overflow: hidden;
  border-radius: 3px;
}
section.find-the-perfect ul.find-the-point li .box {
  padding-left: 25px;
}
section.find-the-perfect ul.find-the-point li p {
  font-weight: 600;
  font-size: 18px;
}
section.find-the-perfect ul.find-the-point li small {
  font-size: 15px;
  font-weight: 400;
  color: #4F5962;
}

section.subscribe .container {
  border-radius: 12px;
  background: var(--green-teal-dark, #368C86);
  padding: 45px 54px;
}
section.subscribe .container .subscribr-input {
  display: flex;
  align-items: center;
}
section.subscribe .container .subscribr-input input.form-control {
  border-radius: 3px;
  padding: 12px 12px;
}
section.subscribe .container .subscribr-input button.cubtn {
  /* display: inline-flex; */
  /* padding: 10px 24px; */
  /* align-items: center; */
  /* gap: 10px; */
  border-radius: 4px;
  background: var(--green-teal-darker, #2F6562);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 165px;
  border: 0px;
  margin-left: 14px;
  padding: 12px 12px;
}
section.subscribe .container .subscribr-input :-moz-placeholder-shown {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
section.subscribe .container .subscribr-input :placeholder-shown {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
section.subscribe .container .subscribecaption p {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}
section.subscribe .container .subscribecaption small {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

section.testimonials .clintbox {
  position: relative;
}
section.testimonials .clintbox .owl-prev {
  position: absolute;
  border: 1px solid #ccc;
  padding: 5px 8px !important;
  top: -36px;
  font-size: 12px;
  font-weight: 700;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
section.testimonials .clintbox .owl-next {
  position: absolute;
  top: -36px;
  border: 1px solid #ccc;
  padding: 5px 8px !important;
  font-size: 12px;
  font-weight: 700;
  right: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
section.testimonials .clintsaybox {
  position: relative;
  border-radius: 6px;
  background: var(--White, #FFF);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  padding: 12px 19px;
  margin: 21px 0px;
}
section.testimonials .clintsaybox::before {
  content: "";
  background: url(../images/dobulquts.png);
  display: block;
  height: 36px;
  width: 59px;
  background-repeat: no-repeat;
  position: absolute;
  top: 35px;
}
section.testimonials .clintsaybox p {
  color: var(--Text-secondary, #4F5962);
  font-weight: 500;
  line-height: 24px;
  margin: 15px 0px;
}
section.testimonials .clintsaybox ul.reviewclint {
  display: flex;
  justify-content: end;
  -moz-column-gap: 3px;
       column-gap: 3px;
  margin-bottom: 5px;
}
section.testimonials .clintsaybox ul.reviewclint li {
  color: #FFA236;
  font-size: 12px;
}
section.testimonials .clintsaybox .google {
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
section.testimonials .clintsaybox .google i {
  color: #0088D1;
}
section.testimonials .clintsaybox .clint-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
section.testimonials .clintsaybox .clint-info img {
  width: 48px;
  height: 48px;
}
section.testimonials .clintsaybox .clint-info h4 {
  color: var(--Text-secondary, #4F5962);
  font-size: 14px;
  font-weight: 700;
}
section.testimonials .clintsaybox .clint-info p {
  color: var(--Text-secondary, #4F5962);
  font-size: 12px;
  font-weight: 300;
  margin: 0px;
}

section.discover-top .boxgrid {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}
section.discover-top .boxgrid img {
  filter: brightness(76%);
}
section.discover-top .boxgrid:hover img {
  transform: scale(1.1);
  filter: brightness(100%);
  transition: 1s;
}
section.discover-top .boxgrid h3 {
  position: absolute;
  bottom: 12px;
  color: #fff;
  font-size: 15px;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
}
section.discover-top .angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  gap: 25px;
  height: 100%;
}
section.discover-top #item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
section.discover-top #item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
section.discover-top #item-2 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 6;
}
section.discover-top #item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 5;
}
section.discover-top #item-4 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;
}

.allmodal #login input.form-control {
  padding: 11px 9px;
}
.allmodal #login h1 {
  color: var(--Primary-text-color, #212121);
  font-size: 16px;
  font-weight: 600;
}
.allmodal #login button.btn.bnt-block.loginbtnmodal {
  border-radius: 4px;
  background: var(--green-teal-darker, #2F6562);
  width: 100%;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 45px;
}
.allmodal #login h4 {
  color: var(--green-teal-dark, #368C86);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 45px;
}
.allmodal #login p {
  font-size: 13px;
  color: #7A7A7A;
  font-weight: 400;
}
.allmodal #login p a {
  color: var(--Primary-text-color, #212121);
  font-weight: 400;
}

footer {
  background: #fff;
}
footer .mainfooter {
  padding: 70px 0px;
}
footer .mainfooter .about-footers {
  margin-top: 0px;
}
footer .mainfooter .about-footers img {
  width: 200px;
}
footer .footer-links {
  color: #4F5962;
  margin-top: 7px;
}
footer .footer-links li {
  padding: 9px 0px;
}
footer .footer-links li:hover {
  margin-left: 10px;
  color: #0088D1;
  transition: 1s;
}
footer .footer-links h4 {
  font-size: 18px;
  font-weight: 700;
  color: #2F6562;
  margin-bottom: 10px;
}
footer .addressfooter li:hover {
  margin-left: 0px;
  color: #0088D1;
  transition: 1s;
}
footer img.infoicons {
  margin-right: 5px;
}
footer .about-footers p {
  margin-top: 21px;
  font-size: 15px;
  font-weight: 400;
}
footer .curow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul.social-icons {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
footer .copyright {
  padding: 16px 0px;
  border-top: 1px solid #ccc;
}
footer .copyright p {
  color: var(--Text-secondary, #4F5962);
}

/******************/
section.heroslider.page-coverbanner {
  background-image: none !important;
  padding: 0px !important;
}
section.heroslider.page-coverbanner .slidercaption {
  padding: 30px 0px !important;
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
  .title {
    font-size: 22px;
  }
  .subtitle {
    font-size: 14px;
  }
  .comman-title {
    margin-bottom: 5px;
  }
  header a.navbar-brand {
    width: 191px;
  }
  section.heroslider .input-fild {
    margin-bottom: 13px;
  }
  section.heroslider .slidercaption {
    color: #fff;
    padding: 50px 0px;
  }
  section.heroslider .slidercaption h2 {
    font-size: 23px !important;
    line-height: normal !important;
  }
  section.heroslider .slidercaption p {
    font-size: 17px;
    font-weight: 600;
  }
  section.bookwithtoday .title {
    font-size: 19px;
  }
  section.find-the-perfect ul.find-the-point li {
    width: 100%;
  }
  section.bookwithtoday ul.bookpointbox li {
    height: 81px;
  }
  section.bookwithtoday ul.bookpointbox li h4 {
    font-size: 24px;
  }
  section.bookwithtoday ul.bookpointbox li p {
    font-size: 12px;
  }
  section.discover-top .angry-grid {
    display: flex;
    flex-direction: column;
  }
  section.subscribe .subscribr-input {
    flex-direction: column;
    gap: 19px;
  }
  section.subscribe button.cubtn {
    margin: 0px !important;
    width: 100% !important;
  }
  footer .mainfooter {
    padding: 10px 0px;
  }
  footer .curow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 22px;
  }
  footer .footer-links {
    margin-top: 40px !important;
  }
}
/* Mobile devices *//*# sourceMappingURL=style.css.map */